    .pseudo.contact::before {
        display: inline-block;
        content: '';
        position: absolute;
        height: 2px;
        width: 25px;
        top: 50%;
        left: 65px;
        background-color: var(--additional-color);
    }
    .pseudo.contact::after {
        display: inline-block;
        content: '';
        position: absolute;
        height: 2px;
        width: 25px;
        top: 50%;
        right: 65px;
        background-color: var(--additional-color);
    }