.bg-main-color {
    background-color: var(--main-color); 
    }
    
.bg-secondary-color {
    background-color: var(--secondary-color); 
    }
.additional-color {
    color: var(--additional-color);
}