section {
    width: 100%;
    display: inline-block;
}

.row {
    width: 1400px;
    margin: 0 calc(50% - 700px) ;
    background-color: yellow;
}



@media (max-width: 1500px) {
    .row {
        width: 1200px;
        margin: 0 calc(50% - 600px) ;
    }   
}

@media (max-width: 1300px) {
    .row {
        width: 980px;
        margin: 0 calc(50% - 490px) ;
    }   
}
@media (max-width: 1080px) {
.row {
    width: 768px;
    margin: 0 calc(50% - 384px) ;
}   
}
@media (max-width: 860px) {
    .row {
        width: 480px;
        margin: 0 calc(50% - 240px) ;
    }
}
@media (max-width: 580px) {
    .row {
        width: 100%;
        margin: 0;
    }
}
