.btn_container{
    width: 100%;
    display: inline-block;
    text-align: center;
}
    .buttons_list{
       display: inline-block;
       width: 100%;
       
       margin-left: auto;      
    }
    .buttons_list > .btn{
        display: inline-block;
        text-decoration: none;
        color: var(--paragraph-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0px 15px;
        cursor: pointer;
        border: none;
        background-color: var(--secondary-color);

     
    }
.buttons_list .active{
    color: var( --additional-color);
}

    .buttons_list > .btn:active{
        color: var( --additional-color);
    }

    .single_photo{
        display: inline-block;
        width: 100%;   
        
    }
    .single_photo > img{
        display: inline-block;
        width: 100%;
        padding: 20px;
    }

    #portfolio_items{
        padding:0;
    }

   