.testimonials {
    display: inline-block;
    width: 100%;
    padding: 55px 0px 0px 0px;
}
    .list {
        display: inline-block;
        width: 100%;
        box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    }
    .controls{
        display: inline-block;
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
        .controls > .btn {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 42px;
            text-align: center;
            border-radius: 50%;
            border: 5px solid;
            background-color: var(--additional-color);
            border-color: rgba(255, 255, 255, 0.3)
        }
        .controls > .btn:hover{
            background-color: var(--additional-color3);
            cursor: pointer;
            transition: 0.5s;
        }
            .controls > .btn.previous,
            .controls > .btn.next  {
                display: inline-block;
            }
                .fa.fa-angle-left,
                .fa.fa-angle-right { 
                    display: inline-block;
                    color: #fff;
                    font-size: 20px;
                    line-height: 40px;
                    font-weight: 600;
                }
                    .fa.fa-angle-left::before {
                        display: contents;
                        content: "\f104";
                    }
                    .fa.fa-angle-right::before {
                        display: contents;
                        content: "\f105";
                    }

            .testimonial > {
                display: inline-block;
                width: 70%;
                margin: 0 15%;
                padding: 20px;
                /* position: relative; */
            }
                /* .testimonial::after {
                    content: "\f10e";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: -1px;
                    background-image: '<i class="fas fa-quote-right"></i>';
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    opacity: 0.04;
                    background-position: top right;
                    overflow: hidden;
                } */
                .testimonial > .picture {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    }
                    .picture img {
                        width: 100px !important;
                        height: auto;
                        border-radius: 50%;
                        position: absolute;
                        top: -50px;
                        left: 15px;
                        margin-bottom: 40px;
                    }
                .testimonial > .stars {
                    display: inline-block;
                    width: 100%;
                    padding: 30px 15px 0px 15px;
                }
                    .stars > i {
                        font-size: 18px;
                        line-height: 20px;
                        color: var(--additional-color);
                    }
                .testimonial > .author {
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;  
                    padding: 0 15px;
                    font-family: 'Open Sans',sans-serif;
                    color: rgb(68, 66, 66);
                }
                .testimonial > .text {
                    display: inline-block;
                    width: 100%;
                }

