:root {
    --main-color: #fff;
    --secondary-color: #f7f7f7;
    --title-color: #212529;
    --paragraph-color: #818181;
    --additional-color: #ffb32f;
    --additional-color2:  #d2bd7f;
    --additional-color3:  #1e283c;
  
}